{% extends "base.html" %}

{% block head %}
<title>Newsletter</title>
<meta name="description" content="Newsletter Page" />
{% endblock head %}

{% block content %}
<div data-barba="container" data-barba-namespace="newsletter"
  class="text-primary-text-color bg-accent-lightgrey-color">
  <section class="relative min-h-screen">
    <section class="flex flex-col justify-start w-full pt-16 pb-12 mx-auto bg-accent-powderblue-color-medium md:pb-0 md:pt-0 md:h-52">
      <p class="mt-4 text-5xl font-black text-center newsletter-title xs:text-6xl sm:text-7xl">
        <span class="text-wrapper">
          <span class="letters">Newsletter</span>
        </span>
      </p>
    </section>
    <div class="flex justify-center max-w-full pb-16 mx-auto">
      <section class="hidden px-4 -mt-24 w-80 lg:block">
        <div data-scroll data-scroll-offset="5%, 0%" data-scroll-class="fade-in-up-apply" class="p-4 my-8 bg-white rounded-lg shadow-lg fade-in-up">
          <div class="rounded loading ring-4 ring-image"> <img src="/assets/images/misc/about-me.jpg" class="rounded"> </div>
          <p class="mt-4 text-xl font-bold">About Me:</p>
          <p class="mt-2">Hi everyone! My name is Morgan and I have recently graduated from the Brown Aveda institute for esthetics. I am so excited to jump right into the esthetics world and build my portfolio. I live in Broadview Heights and love to spend time with my dog, Winston, in my free time.</p>
          <p class="mt-2">As a licensed esthetician, I am certified in microdermabrasion, customized facials, facial waxing, body waxing, body wrapping, relaxation massage, electrotherapy, brow tinting and lamination, lash lifting and tinting, and makeup application.</p>
          <p class="mt-2">If you want to keep updated on my life and my esthetics journey, remember to follow my <a href="https://www.instagram.com/morganelaineesthetics/" class="content-link">Instagram</a></p>
        </div>
      </section>
      <section class="max-w-2xl px-4 pb-32 -mt-16 md:-mt-20 lg:-mt-24">
        <div x-data="{ showAbout: false }" data-scroll data-scroll-offset="5%, 0%" data-scroll-class="fade-in-up-apply" class="p-4 my-8 bg-white rounded-lg shadow-lg fade-up-entry fade-in-up-content lg:hidden">
          <div @resize.window="showAbout = false" @click="showAbout = !showAbout; $nextTick(() => { setTimeout(function(){ scroll.update(); }, 1000);}); " class="flex items-center justify-between hover:text-accent-sapphire-color-dark">
            <p class="text-xl font-bold">About Me</p> 
            <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 chevron" viewBox="0 0 20 20" fill="currentColor" x-bind:class="showAbout ? 'rotate-chevron' : ''">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="overflow-hidden transition-all duration-1000 ease-in-out max-h-0" x-cloak x-ref="dropdownContainer" x-bind:style="showAbout ? `max-height:${$refs.dropdownContainer.scrollHeight}px` : ''">
            <div class="loading"><img src="/assets/images/misc/about-me.jpg" class="w-48 mx-auto mt-4 rounded-full ring-4 ring-image"></div>
            <p class="mt-4">Hi everyone! My name is Morgan and I have recently graduated from the Brown Aveda institute for esthetics. I am so excited to jump right into the esthetics world and build my portfolio. I live in Broadview Heights and love to spend time with my dog, Winston, in my free time.</p>
            <p class="mt-2">As a licensed esthetician, I am certified in microdermabrasion, customized facials, facial waxing, body waxing, body wrapping, relaxation massage, electrotherapy, brow tinting and lamination, lash lifting and tinting, and makeup application.</p>
            <p class="mt-2">If you want to keep updated on my life and my esthetics journey, remember to follow my <a href="https://www.instagram.com/morganelaineesthetics/" class="content-link">Instagram</a></p>
          </div>
        </div> 
        {% for page in paginator.pages %}
        <div data-scroll data-scroll-offset="5%, 0%" data-scroll-class="fade-in-up-apply" class="p-4 my-8 bg-white rounded-lg shadow-lg fade-up-entry fade-in-up-content">
          <p class="mt-1 ml-1 font-semibold text-tertiary-text-color">{{page.date | date(format="%B %e, %Y")}}</p>
          <p class="mt-2 text-4xl font-extrabold text-primary-text-color">{{ page.title | safe }}</p>
          <p class="mt-4 text-xl text-secondary-text-color">{{ page.content | safe }}</p>
        </div>
        {% endfor %}
        {% include "partials/paginator.html" %}
      </section>
    </div>


    {% include "svg/dividers/newsletter-divider.html" %}
  </section>
</div>

{% endblock content %}