<script>
    (function () {
    window.scroll = new LocomotiveScroll({
      el: document.querySelector("[data-scroll-container]"),
      smooth: true,
      smartphone: { smooth: true }, 
      tablet: { smooth: true },
      touchMultiplier: 2.5,
    })
  })()

  window.addEventListener("load", function(){
    scroll.destroy()
    window.scroll = new LocomotiveScroll({
      el: document.querySelector("[data-scroll-container]"),
      smooth: true,
      smartphone: { smooth: true }, 
      tablet: { smooth: true },
      touchMultiplier: 2.5,
    })
  })

  setTimeout(function () {
    scroll.update()
  }, 5000)

  new SimpleBar(document.getElementById('navScroll'));
</script> 